body {
    
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-size: cover;
    animation: gradient 10s linear infinite;
    /* L'animation durera 10 secondes, sera linéaire et sera infinie */
    
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }

}

.box {
    margin: auto; /* La boîte sera centrée horizontalement */
    background-color: rgb(241, 241, 241); /* Couleur de fond de la boîte */
    border-radius: 10px; /* Les bords de la boîte seront arrondis de 10px */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* L'ombre de la boîte sera de 10px et aura un alpha de 0.5 */
    min-height: calc(30px + 1em); /* La hauteur minimale de la boîte sera égale à 30 pixels + la hauteur de la police de caractères */
    min-width: calc(30px + 1em); /* La largeur minimale de la boîte sera égale à 30 pixels + la largeur de la police de caractères */
    max-width: 500px; /* La largeur maximale de la boîte sera de 300 pixels */
    padding: 30px;
    transition: transform 0.3s;

}

.box:active {
    transform: scale(1.3); /* La boîte sera agrandie de 20% */
  }

.textsettings{
    Font-family: teko;
    text-align: center;
    color: black;
}

.textsettingslist{
    Font-family: teko;
}


.box1 {
    width: 300px; /* La boîte occupera la moitié de la largeur de la page */
    margin-bottom: 30px;
    background-color: rgb(241, 241, 241); /* Couleur de fond de la boîte */
    border-radius: 10px; /* Les bords de la boîte seront arrondis de 10px */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* L'ombre de la boîte sera de 10px et aura un alpha de 0.5 */
    min-height: calc(30px + 1em); /* La hauteur minimale de la boîte sera égale à 30 pixels + la hauteur de la police de caractères */
    min-width: calc(30px + 1em); /* La largeur minimale de la boîte sera égale à 30 pixels + la largeur de la police de caractères */
    max-width: 300px; /* La largeur maximale de la boîte sera de 300 pixels */
    padding: 30px;
    transition: transform 0.3s;
}

img{
    background-color: rgb(241, 241, 241); /* Couleur de fond de la boîte */
    border-radius: 10px; /* Les bords de la boîte seront arrondis de 10px */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* L'ombre de la boîte sera de 10px et aura un alpha de 0.5 */
    padding: 30px;
    max-width: 50px;
}
.box2 {
    width: 300px; /* La boîte occupera la moitié de la largeur de la page */
    margin-bottom: 30px;
    background-color: rgb(241, 241, 241); /* Couleur de fond de la boîte */
    border-radius: 10px; /* Les bords de la boîte seront arrondis de 10px */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* L'ombre de la boîte sera de 10px et aura un alpha de 0.5 */
    min-height: calc(30px + 1em); /* La hauteur minimale de la boîte sera égale à 30 pixels + la hauteur de la police de caractères */
    min-width: calc(30px + 1em); /* La largeur minimale de la boîte sera égale à 30 pixels + la largeur de la police de caractères */
    max-width: 110px; /* La largeur maximale de la boîte sera de 300 pixels */
    padding: 10px;
    transition: transform 0.3s;
    margin-left: 40px;
}